#container {
    width: 400px;
    height: 400px;
    position: relative;
    background: yellow;
    margin: auto;
    border-radius: 10%;
  }
  #animate {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: red;
    border-radius: 10%;

  }