.container{
    margin-top: 10%;
    margin-left: 10%;
}

.card{
    display: flex;
    border: 1px solid rgb(181, 139, 139);
    border-radius: 10px;
    width: 900px;
    justify-content: center;
    align-items: center;
    margin:2%;
}

img {
    width: 200px;
    border-radius: 10px;
}
.image{
    position: relative;

}
.text{
    padding-left: 2px;
    
}

.capsul{
    position: absolute;
    bottom: 4px;
    z-index: 10;
    right: 5px;
    background-color: black;
    color: aliceblue;
    border-radius: 5px;
    font-size: 14px;
    margin: 2px;
}

h1{
    margin-top:5px;
}

p{
    font-size: 20px;
    margin-bottom: 30px;
    margin-left: 30px;
}