 *{
    background-color: rgb(159, 228, 228);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.big-box{
    border: solid 4px rgb(247, 240, 114);
    width: 400px;
    height: 400px;
    background-color: rgb(214, 231, 103);
    position: relative;
    /* margin: auto auto;
    margin-top: 13%; */
    /* overflow: hidden; */
}

.small-box{
    width: 30px;
    height: 30px;
    background: rgb(167, 100, 100);
    border: 2px solid rgb(32, 4, 57);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* overflow: hidden; */

}
